{% extends "base" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    {% for item in items %}
        <p><a href="{{item.link_to}}">{{ item.name }}</a></p>
    {% endfor %}
{% endblock %}